name: publish

on:
  push:
    branches:
      - main

concurrency:
  group: docker-build-and-publish
  cancel-in-progress: true

env:
  AZURE_WEBAPP_NAME: diversifix-app  # Change this to your app name

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set environment variables
        run: |
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV
          echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build and push Docker image
        run: |
          docker build . \
            --tag ghcr.io/diversifix/diversifix-app:${IMAGE_TAG} \
            --tag ghcr.io/diversifix/diversifix-app:latest \
            -f Dockerfile \
            --build-arg REACT_APP_SHOW_IMPRESSUM_AND_DATENSCHUTZ=1 \
            --build-arg BUILD_DATE=${BUILD_DATE} \
            --build-arg VCS_REVISION=${GITHUB_SHA}
          docker push --all-tags ghcr.io/diversifix/diversifix-app

  deploy-to-azure:
    runs-on: ubuntu-latest
    needs: build-and-publish

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          images: ghcr.io/diversifix/diversifix-app:${{ github.sha }}
